/* navBar */

.bar{
    height: 80px;
    width: 100vw;
    background-color: teal;
    /* border-bottom: 2px white solid; */
    top: 0%;
}
li{
    display: inline;
    float: right;
    margin: 20px 0px 20px 0px;
    font-size: large;
}
#navbtn{
    text-decoration: none;
    color: white;
    padding: 0.5rem;
}
#navbtn:hover{
    color: yellow;
    background-color: gray;
    opacity: 0.7;
    border-radius: 2rem;
}
.img{
    float: left;
}
#idimg{
    width: 12.5%;
}


/* HOmeImage */

.picture1{
    background-image: url('https://images.unsplash.com/photo-1509062522246-3755977927d7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1404&q=80');
    width: 100vw;
    height: 70vh;
    margin-left: none;
    padding: none;
}
.text-block{
    text-align: center;
    padding-top: 15rem;
    font-size: 150%;
}

#tech{
    display: inline;
    color: yellow;
}
#insti{
    display: inline;
    font-size: 300%;
    color: white;
}
#build{
    padding-left: 40rem;
    color: white;    
}
.btn{
    margin-left: 50rem;
}
.homeB{ 
    cursor: pointer;
    border: none;
    outline: none;
    width: 32%;
    padding: 1rem;
    background-color: rgb(236, 236, 37);
    border: white 1px solid;
  
} 
#hbtn{
    text-decoration: none;
    color: black;
}
.homeB:hover{
    background-color: white;
    width: 35%;
    box-shadow: 3px 3px 5px rgb(209, 231, 8); 
}


/* about */


#abt{
    padding-top: 90px;
    text-align: center;
}
#pOfAbt{
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
}



/* left pera */

.Disp{
    width: 350px;
    height: 200px;  
    padding: 50px ;
    float: left;
   
}
#yello{
    color: chocolate;
}
#black{
    margin: 0%;
    font-size: 200%;
}
.lftB{
    cursor: pointer;
    float: left;
}
.learM{
    width: 90%;
    background-color: black;
    border: 2px rgb(247, 178, 29) solid;   
}
#Lbtn{
    color: white;
    text-decoration: none;
}
.learM:hover{
    background: rgb(247, 178, 29);
    
}

/* image left */
.abmg{
    float: right;
    width: 400px;0px;
    height: 300px;
    padding: 150px ;
   
}


/* image right */

.abmg2{
    float: left;
    width: 400px;0px;
    height: 300px;
    padding-top: 300px;
    padding-left: 80px ;
    padding-right: 0px;
   
}
